<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Birthday Parties Jhoon Rhee Arlington Taekwondo">
        <title>Birthday Parties | Arlington Jhoon Rhee Taekwondo</title>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="favicon.png" type="image/png">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <!-- Custom styles for this template -->
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
 </head>
<body>
     <div class="ofc_outermost">
         <div class="ofc_sidebar">
            <!--container-fluid begins-->
            
             <!--<p>The side</p>-->
               <a class="navbar-brand" href="#">
                <img src="birthday_image.png" width="150" height="150" class="d-inline-block align-top" alt=""> 
                </a>
             <nav class="navbar navbar-light ">
                <ul class="nav flex-column">
                    <!--Navbar list begins-->
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/parties">parties</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/waivers">Waivers</a>
                      </li>
                </ul>
             </nav>

             <div class="gmaps"><p>Directions:</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12420.641122575205!2d-77.1382588!3d38.8974499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x53fa912bd2d52536!2sJhoon+Rhee+Tae+Kwon+Do!5e0!3m2!1sen!2sus!4v1538082348916" width="180" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
             
         </div><!-- ofc_sidebar ends-->
         <div class="ofc_primaryContent">
             <div class="ofc_primaryContent_inner">
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-md-12"><!--A column of 12-->
                            <div class="container">
                                {{{body}}}
                            </div><!--close container-->
                            <!--end code website-->
                         </div><!--end col-12-->
                     </div><!-- end div class row-->
                 </div><!-- end container-fluid-->
             </div><!-- end ofc_primaryContent_inner -->
         </div><!-- end ofc_primaryContent -->
     </div><!-- end ofc_outermost -->



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

</body>
 </html>