.ofc_outermost {
    display:flex;
    width: 100%;
    margin: 0;
    padding:0;
}

.ofc_sidebar {
    width: 250px;
   
}

.ofc_primaryContent {
    flex-grow: 1;
    text-align: center;
    background-color:;
    margin-left: 0;
}

.ofc_primaryContent_inner {
    max-width: 1170px;
    margin: 0;
    background-color:;
}

.navbar-brand{
    padding-left: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}

@font-face {
    font-family:"Ninja_Rush.ttf";
    src: url('Ninja_Rush.ttf') format('truetype');
}

.text-center{
    font-family:'Ninja_Rush';
}


.gmaps{
    padding-left: 18px;
    padding-top: 20px;
}


Edit in JSFiddle
Result
HTML
CSS
JavaScript
Resources
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.playsinline{
max-width: 100%

}
.display-4{
    font-size: 2.5rem;
    text-align: center;
}